<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">TRIBU</th>
          <th scope="col">COMPETENCES</th>
          <th scope="col">NIVEAU</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Developpement</td>
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">JAVA</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Spring Boot</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">Hibernate</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck4">
              <label class="custom-control-label" for="customCheck4">PostgreSQL</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck5">
              <label class="custom-control-label" for="customCheck5">PHP</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck6">
              <label class="custom-control-label" for="customCheck6">Spring Cloud</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck7">
              <label class="custom-control-label" for="customCheck7">UML</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck8">
              <label class="custom-control-label" for="customCheck8">Docker</label>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio1"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio1" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio1" checked="checked"> Expert
              </label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td> Business Inteligence/Big Data</td>
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck9">
              <label class="custom-control-label" for="customCheck9">SQL</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck10">
              <label class="custom-control-label" for="customCheck10">Talend ETL</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck11">
              <label class="custom-control-label" for="customCheck11">Tableau software</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck12">
              <label class="custom-control-label" for="customCheck12">Power BI</label>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td> Fonctionnel</td>
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck13">
              <label class="custom-control-label" for="customCheck13">Gestion Projet</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck14">
              <label class="custom-control-label" for="customCheck14">Capacité d'aaptation</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck15">
              <label class="custom-control-label" for="customCheck15">Gestion de l'équipe</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck16">
              <label class="custom-control-label" for="customCheck16">Gestion des risques</label>
            </div>
          </td>
          <td>
            <div class="form-group">
                <label class="radio-inline">
                  <input type="radio" name="radio"> Débutant
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radio"> Intermediate
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radio" checked="checked"> Avancé
                </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>

            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="radio"> Débutant
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio"> Intermediate
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Avancé
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio" checked="checked"> Expert
              </label>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
      <div class="row" >
        <button (click)="AddSkils()" class="btn btn-info" style="margin-left: 10px">ADD SKILL</button>
      </div>

    </div>
  </div>
</div>
<!--<table class="table table-striped">
  <thead>
  <tr>
    <th>TRIBU</th>
    <th>COMPETENCES</th>
    <th>NIVEAU</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tribu of tribu">
    <td>{{tribu}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>-->
